@media (max-width: 1200px){

body{
	flex-direction: column;
	margin:auto;
}
.content{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 50px auto;

}

.form{
	width: 100%;
	border-radius: 20px;
	padding: 20px;
	float: left;
	margin-bottom: 50px;
}
.random{
	width: 100%;
	border-radius: 20px;
	padding: 20px;
	float: left;
}
.under{
	margin-top: 50px;
	width: 100%;
	float: right;
	margin-right: 3%;
	border-radius: 20px;
}
}
@media (max-width: 700px){
.content{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 50px auto;

}
.under{
	background-color: #f4f4f4;
	margin-top: 50px;
	width: 100%;
	float: right;
	margin-right: 0;
	border-radius: 20px;
}
}