
body{
	padding: 0;
	margin: 0 auto;
	width: 1400px;
	display: block;
	color: #4c4b6c;
}
a{
	text-decoration: none;

}
.more{
	display: none;
}
.b2{
	display: none;
}

.clear{
	clear: both;
}
.fa-shopping-bag,
.fa-balance-scale,
.fa-heart,
.fa-angle-left,
.fa-angle-right{
	line-height: 40px;
	margin-top: 5px;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: #f4f4f4;
	text-align: center;
}
.fa-shopping-bag:hover,
.fa-balance-scale:hover,
.fa-heart:hover,
.fa-angle-left:hover,
.fa-angle-right:hover{
	background-color: #7cd0f5;
	color: white;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
select{
	border: none;
	outline: none;
	color: white;
	background-color: transparent;
}
option{
	color: #7cd0f5;
	background-color: white;
}
option:hover{
	color: white;
}
.left{
	float: left;
}
.right{
	float: right;
}
body > div{
	width: 100%;
	float: left;
}
.head, .top {
	height: 50px;
	border-bottom: 1px solid #f4f4f4; 
}
.head{
	background-color: #7cd0f5;
	color: white;
}
.head-right{
	margin-right: 5%;

}
.head-left{
	margin-left: 5%;
}
.head-left > ul , .head-right > ul {
	display: flex;
	line-height: 50px;
}
.head-left > ul > li > a,
.head-right > ul > li > a {
	color: white;
}
.head-left > ul > li ,
.head-right > ul > li {
	margin: 0px 20px;
}
/*-------------------------------------------*/
.logo{
	background-color: #7cd0f5;
	height: 140px;

}
.nav {
	height: 140px;
	color: white;
	width: 75%;
	line-height: 140px;
}

.logo1{
	width: 15%;
	float: left;
	margin-left: 5%;
}

.nav, .nav-left > ul {
	
	height: 140px;
	line-height: 140px;

}
.nav-left {
	width: 60%;
	position: relative;
	float: left;

}
.nav-left > ul > li {
	display: block;
	float: left;
	padding: 0px 10px;

}
.nav-left > ul > li > a {
	display: block;
	text-align: center;
	width: 100%;
	color: white;
	padding: 0px 10px;


}
.nav-left > ul > li > a:hover {
	height: 40px;
	width: 100%;
	border-radius: 20px;
	background-color: #5abfec;
	text-align: center;line-height: 40px;
	margin-top: 50px;
}
.bestseller{
	width: 800px;
	height: 281px;
	background-color: white;
	position: absolute;
	color: #7cd0f5;
	top: 100px;
	left: 50px;
	display: flex;
	justify-content: space-around;
	z-index: 1;
	display: none;

}
.nav-left > ul > li:hover > .bestseller {
	display: flex;
}


.bestseller > div >ul,.bestseller > div > h4 {
	line-height: 40px;
	height: 40px;
}
.bestseller > div >ul > li:hover > a {
	color: #7cd0f5;
}
.bestseller > div > ul > li {
	position: relative;
}
.bestseller > div > ul > li:hover > .backpack {
	display: flex;
}

.backpack {
	position: absolute;
	top: 40px;
	left: -50px;
	width: 300px;
	height: 200px;
	display: flex;
	border: 1px solid gray;
	justify-content: space-around;
	background-color:white;
	z-index: 10;
	display: none;
}
h5{
	margin: 0;
	font-size: 18px;
}
.backpack1 > ul > li{
	line-height: 30px;
}
.backpack1 > ul > li:hover > a {
	color: #7cd0f5;
}
.nav-right{
	float: right;
	width: 40%;
}
.search {
	position: relative;
	width: 60%;
	float: left;
}
.search > input {
	width: 100%;
	height: 30px;
	background-color: #f4f4f4;
	border-radius: 15px;
	text-indent: 15px;
	border: none;
}
.search > i {
	position: absolute;
	line-height: 70px;
	right: 10px;
	cursor: pointer;
	top: 35px;
	color: #7cd0f5;
}
.cart > i {
	background-color: #fe82c0;
	color: white;
}
.cart{
	float: right;
	position: relative;

}
.cart > ul {
	line-height: 20px;
	float: right;
	margin-top: 50px;

}
.cart > ul > li:first-child {
	font-weight: bold;
	
}
.mycart{
	position: absolute;
	left: -150px;
	top: 100px;
	width: 300px;
	height: 400px;
	color: #4c4b6c;
	display: flex;
	flex-direction: column;
	background-color: white;
	display: none;
	z-index: 100;
}
.cart-product > div{
	height: 80px;
	margin: 20px 0;
}
.cart-product > div > img{
	width: 80px;
	float: left;
	margin-right: 10px;

}
.cart-product > div > ul.info {
	width: 180px;
	float: right;
}
.cart-product > div > ul > li{
	width: 100%;
	line-height: 27px;
}
.cart-product > div > ul > li:last-child > a{
	float: right;
	cursor: pointer;
	color: #4c4b6c;
}
.cart-product{
	border-bottom: 1px solid gray;
	margin-left: 10px;
	width: 270px;
}
.cart-total{
	margin-left: 10px;
	width: 270px;
}
.cart-total > h4{
	display: block;
	margin: 0;
}
.cart-total > a{
	height: 40px;
	color: white;
	background-color: #7cd0f5;
	width: 150px;
	display: block;
	line-height: 40px;
	
	text-align: center;
	clear: both;
	margin-left: 60px;
	border: 1px solid #7cd0f5;
	border-radius: 20px;
}
.cart-total > a:hover{
	color: #7cd0f5;
	background-color: transparent;
}

/*---------------------------------------------
/*---------------------------------------------
/*---------------------------------------------
*/
.logo2{
	display: none;
}
.content{
	width: 90%;
	margin-left: 5%;
	margin-top: 50px;
}
.content-left{
	width: 20%;
	margin-right: 2%;

}
.content-right{
}
.category{
	width: 100%;
	height: 407px;
	margin-bottom: 50px;
	background-color: #f5fcff;
}

.category > ul > li{
	display: block;
	width: 100%;
	float: left;
	line-height: 40px;
	background-color: white;
	background-color: #f5fcff;
	text-indent: 10px;

}
.category > ul > li> ul {
	padding-left: 20%;
	background-color: white;
	width: 100%;
}
.category > ul > li:first-child{
	height: 40px;
	background-color: #7cd0f5;
	color: white;
}
.category > ul > li >div.left {
	width: 95%;
}
.category > ul > li:hover > div,
.category > ul > li:hover,
.category > ul > li > ul > li:hover {
	color: #7cd0f5;
}

/*---------------------------------------------
-------------------------------------------------
-----------------------------------------------*/
.top{
	margin-bottom: 20px;
	width: 100%;
}
.top > h3{
	cursor: pointer;
	margin: 0;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 26px;
	margin-right: 20px;
}
.top > div {
	float: right;
}
.top > div > a > i {
	height: 16px;
	width: 16px;
	color: white;
	line-height: 16px;
	margin-top: 22px;
	background-color: #4c4b6c;
}
.product{
	float: left;
}
.product > div {
	width: 18%;
	float: left;
	margin-right: 2%;
}

.products > div > div > img,
.products > div > div > div >img {
	width: 100%;
}
.img{
	position: relative;
}
.stock{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: white;
	opacity: .9;
	text-align: center;
}
.stock > i > a {
	text-decoration: underline;
	color: #fed273;
}
.info{
	display: block;
	margin-bottom: 10px;
	height: 150px;
}
.info > li:first-child{
	font-weight: bold;
	height: 50px;
	display: block;

}

.info > li > .fa-star{
	color: #fed273;
	font-size: 10px;
}
.info > li > span, 
.info > li > font {
	color: gray;
	font-style: italic;
	font-size: 14px;
}
.best-product, .new-product, .feature-product {
	width: 100%;
}

.product > div:hover > img,
.product > div:hover > div >img{
	width: 98%;
	cursor: move;
}
.product > div > ul > li:last-child{
	display: none;
}
.product > div:hover > ul > li:last-child{
	display: block;
}
/*----------------------------------*/
.product{
	width: 90%;
	margin: 0px 5%;
	height: 130px;
}
.new-product > .product > img{
	width: 40%;
	float: left;
	margin-right: 5px;

}
.new{
	float: left;
}
/*....,.,.,.,.,.,,,,,,,,,,,,,,,,,*/
.content-right{
	width: 78%;
	float: left;
}

/*---------------------------*/
.cmt{
	float: left;
}
.cmt-detail{
	float: left;
	width: 100%;
	height: 300px;
	margin-bottom: 50px;
}
.cmt-detail> img{
	width: 20%;
	border-radius: 100%;
	margin-bottom: 14px;
	float: left;
	margin-right: 10px;

}
.cmt-detail> ul {
	line-height: 25px;
}
.cmt-detail> ul > li:first-child {
	font-weight: bold;
}
.cmt-detail> ul > li:last-child {
	font-style: italic;
	color: gray;
}
.cmt-detail> div{
	width: 100%;
	margin-top: 20px;
}
.cmt-detail> div >i{
	line-height: 30px;
	font-size: 27px;
	clear: both;
}
.cmt-detail > p{
	width: 100%;

}
.btn > button{
	height: 12px;
	width: 10px;
	border-radius: 6px;
	border: none;
	background-color: #f4f4f4;
}
.cmt2, .cmt3 {
	display: none;
}
/*--------------------------*/
.blog{
	float: left
}
.blogs{
	float: left;
	width: 100%;
	
	margin-bottom: 50px;
}
.blog1 {
	width: 100%;
}
.img1 {
	width: 100%;
	margin-right: 1%;
	float: left;

}
.img1 > img {
	width: 100%;
}
.blog1-right{
	width: 100%;
	float: right;
}
.blog1-right > h4{
	margin: 0;
	font-size: 16px;
}
.blog1-right > div{
	width: 100%;
	float: left;
	height: 30px;

}

.blog1-right > div > div > img{
	width: 30px;
	border-radius: 100%;
	margin-right: 5px;
	float: left;

}
.blog1-right > div > div > font,
.blog1-right > div > div > i{
	line-height: 30px;
	display: block;
	float: left;
	color: gray;
	margin-right: 10px;
}
.blog1-right >p{
	line-height: 25px;
	margin: 0;
}
.blog1-right > a {
	float: right;
	text-decoration: underline;
}
/*--------------------------*/
.slideShow{
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 407px;
}
.slideShow-left{
	width: 70%;
	position: relative;
}
.s2{
	display: none;
}
.slideShow-right{
	width: 28.8%;
}
.slideShow-left > img,
.slideShow-right > img{
	width: 100%;
	
	
}
.slideShow-left > .fas{
	position: absolute;
	top: 48%;

} 
.slideShow-left > .fa-angle-left{
	left: 10px;
}
.slideShow-left > .fa-angle-right{
	right: 10px;
}
.slideShow-left > a{
	position: absolute;
	top: 65%;
	left: 18%;
	height: 40px;
	color: white;
	width: 150px;
	border-radius: 20px;
	border: 1px solid #4c4b6c;
	background-color: #4c4b6c;
	text-align: center;
	line-height: 40px;
}
.slideShow-left > a:hover> i{
	background-color: #4c4b6c;
}
.promotion{
	width: 100%;
	margin: 50px 0;
}
.promotion > img{
	width: 100%;
}
/*-------------------------------*/
.fashion-product{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.fashion-left{
	width: 40%;
	position: relative;
}
.fashion-left > img {
	width: 100%;
}
.list{
	position: absolute;
	width: 50%;
	top: 10px;
	height: 99%;
	color: white;
	text-indent: 10px;
}
.list > ul > li > a{
	color: white;
	line-height: 28px;
}
.fashion-right{
	width: 58%;
	display: flex;
	justify-content: space-between;
}

.fashion-right > div {
	width: 24%;
}
.fashion-right > div > img,
.fashion-right > div > div > img{
	width: 100%;
}
.promotion1{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
.promotion1 > img{
	width: 49%;
						

}
.news{
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #daf2fc;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.news > span{
	
	font-size: 20px;
}
.news > input{
	height: 40px;
	margin-top: 20px;
	line-height: 40px;
	border-radius: 20px;
	width: 50%;
	border: none;
	outline: none;
	text-indent: 15px;
}
.news > button{
	height: 40px;
	width: 150px;
	color: white;
	background-color: #7cd0f5;
	border: none;
	border-radius: 20px;
	margin-top: 20px;
}
/*-===================================*/
.footer{
	float: left;
	width: 90%;
	margin-left: 5%;	
}
.footer-top{
	width: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
}
.footer-top > div {
	padding-right: 10px;
}
.footer-top > div > font{
	width: 100%;
	display: block;
	margin-top: 15px;
	color: gray;
	font-style: italic;
	line-height: 20px;
}
.footer-top > div > ul{
	line-height: 25px;
	list-style: none;
	color: gray;
	padding: 0;

}
.footer-top > div > ul > li > a{
	color: gray;
}
.footer-top > div > a {
	height: 40px;
	width: 200px;
	display: block;
	border-radius: 20px;
	color: white;
	background-color: #4c4b6c;
	text-align: center;
	line-height: 40px;
	border: 2px solid #4c4b6c;
}
.footer-top > div > a:hover{
	color: #4c4b6c;
	background-color: transparent;
}
.footer-top > div > h4 {
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.footer-top > div > ul > li > a {
	line-height: 25px;
}
.footer-top > div > ul > li > img{
	width: 23%;
}
.footer-mid{
	float: left;
	width: 100%;
	border-bottom: 1px solid #f4f4f4;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
}
.footer-left > ul {
	list-style: none;
	display: flex;
	padding: 0;

}
.footer-left > ul > li {
	font-size: 22px;
	display: block;
	margin-right: 22px;
}
.line > ul {
	list-style: none;
	display: flex;
	padding: 0;
}
.line > ul > li {
	font-size: 22px;
	display: block;
	margin-right: 22px;
}
.footer-right > ul > li {
	font-size: 14px;
}
.footer-bottom{
	line-height: 50px;
}
.footer{
	margin-bottom: 0px;
}
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 10px;
	height: 40px;
	border-radius: 20px;
	background-color: #f4f4f4;
	width: 40px;
	border: none;
	display: none;
	outline: none;
}
.back-to-top:hover {
	color: white;
	background-color: #7cd0f5;
}
.btn > button.bg-blue{
	background-color: #7cd0f5;
}